.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: hsl(var(--nextra-primary-hue) 100% 45%);
  color: white;
  font-weight: bold;
  font-size: smaller;
}

.btn:hover {
  background-color: hsl(var(--nextra-primary-hue) 100% 55%);
}

.btn.btn-sm {
  padding: 0.3rem 0.6rem;
  font-size: smaller;
}
